<app-header></app-header>
<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <!--<li *ngFor="let user of users;">  -- legacy -->
      <li>
        <app-user [user]="user" (select)="onSelectUser($event)"/><!-- If the app doesn't have any content to project, you can truncate the tag -->
      </li>
    } 
</ul>
@if (selectedUser) {
  <app-tasks [name]="selectedUser.name"></app-tasks>
  <!--<app-tasks [name]="selectedUser?.name"></app-tasks> --><!--if the selected user is defined, use it if not used undefined-->  
}@else {
  <p class="fallback">No user selected</p>
}

<!-- Legacy conditional, must add NgIf and NgFor-->
<app-tasks *ngIf = "selectedUser" else #noUserSelected [name]="selectedUser!.name"></app-tasks>
<ng-template #noUserSelected>
<p class="fallback" >No user selected</p>
</ng-template>

</main>